.status_bar {
	height: var(--status-bar-height);
	width: 100%;
	z-index: 1000;
	background-color: #041D25;


}

.top-view {
	height: var(--status-bar-height);
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1000;
	background-color: #041D25;
	
}

.title-fixed {
	position: fixed;
	top: var(--status-bar-height);
	left: 0;
	width: 100%;
	z-index: 10;
}
